<div class="settings">
  <app-header [title]="title">
  </app-header>
  <div class="content" [ngClass]="{'content_header-title' : title }">
    <div class="settings__notification" [ngClass]="{'active': success}">Profile updated successfully</div>
    <div class="container">
      <form [formGroup]="productsForm" (ngSubmit)="onSubmit()" class="auth__form">
        <input type="text" name="name" formControlName="name" class="auth__input" placeholder="Название продукта" />
        <input type="text" name="img" formControlName="img" class="auth__input" placeholder="Фото продукта" />
        <input type="text" name="descr" formControlName="descr" class="auth__input" placeholder="Описание продукта" />
        <input type="text" name="prize" formControlName="prize" class="auth__input" placeholder="Цена продукта" />
        <button class="button button_arrow button_green">Сохранить</button>
      </form>
      <div *ngFor="let product of products">
          <div class="row">
              <div class="col-sm-3 product-card">product name : {{product.name}}</div>
               <div class="col-sm-3 product-card">product img : {{product.img}}</div>
               <div class="col-sm-3 product-card">product descr : {{product.descr}}</div>
               <div class="col-sm-3 product-card">product prize : {{product.prize}}</div>
          </div>     
               <br>
               <div class="row justify-content-center">
               <button class="col-sm-3 button-delete" (click)="deleteProduct(product._id)">DELETE</button>
              </div>
          
      </div>
    </div>
  </div>

</div>